.similar-movie-card-container {
  list-style-type: none;
  margin-bottom: 24px;
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .similar-movie-card-container {
    margin-right: 12px;
    margin-bottom: 12px;
  }
}

.similar-movie-card-image {
  width: 250px;
  height: 320px;
  border-radius: 16px;
}

@media screen and (max-width: 767px) {
  .similar-movie-card-image {
    width: 90px;
    height: 120px;
    border-radius: 8px;
  }
}
